<h1>New Shizzle page</h1>


<p>
  <!-- The form_tag was chosen as this outputs to nowhere as per assignment  -->

  <%= form_tag new_profile_path do -%> <!-- form tag will apply to all the fields and accept their values in its params hash-->
    <p>Email: <br> <!-- found email field tag in the docs -->
    <%= email_field_tag :email %>
    </p>
    <p>UserName:<br>
    <%= text_field_tag :username%>
    </p>
    <p>Pin:<br>
    <%= text_field_tag :pin%>
    </p>
    <p>Website:<br>
    <%= text_field_tag :website%>
    </p>
    <p>Address:<br>
    <%= text_field_tag :address%>
    </p>
    <p>Alias:<br>
    <%= text_field_tag :alias%>
    </p>
    <%= submit_tag %>
  <% end -%>

</p>



<!-- Use ERB to refactor this form and make it more DRY: -->
<!-- <label for="email">email</label>
<input type="text" name="email" id="email" class="fancy_form" >

<label for="username">username</label>
<input type="text" name="username" id="username" class="fancy_form" >

<label for="pin">pin</label>
<input type="text" name="pin" id="pin" class="fancy_form"

<label for="website">website</label>
<input type="text" name="website" id="website" class="fancy_form" >

<label for="address">address</label>
<input type="text" name="address" id="address" class="fancy_form" >

<label for="alias">alias</label>
<input type="text" name="alias" id="alias" class="fancy_form" > -->
